* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  min-width: 1600px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: antiquewhite;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.logo {
  background-color: red;
  -webkit-mask: url(logo.svg) no-repeat center;
  mask: url(logo.svg) no-repeat center;
}

.header__logo {
  border-radius: 50%;
  background-color: #FFF;
  -webkit-mask: url(img/no_image.svg) no-repeat center;
  mask: url(img/no_image.svg) no-repeat center;
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.header__btnCart {
  font-size: 12px;
  color: rgb(74, 74, 74);
  font-weight: 700;
  text-transform: uppercase;
  background-color: #cdd9d4;
  width: 10.5em;
  height: 3em;
  border-color: rgb(234, 234, 234);
}

.header__searchField {
  font-size: 12px;
  color: rgb(74, 74, 74);
  font-weight: 700;
  width: 18em;
  height: 3em;
  border-color: rgb(234, 234, 234);
}

.header__searchField:focus {
  outline-color: #a1b9af;
}

.header__searchBtn:focus {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  outline: none;
  background-color: rgb(234, 234, 234);
}

.header__searchBtn:hover {
  background-color: #9fb9af;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.header__searchBtn {
  font-size: 12px;
  color: rgb(74, 74, 74);
  background-color: #cdd9d4;
  width: 3em;
  height: 3em;
  border-color: rgb(234, 234, 234);
}

.products {
  display: flex;
  justify-content: space-around;
  margin-top: 10em;
}
.searchResult {
  display: flex;
  justify-content: space-between;
}

.products__title,
.products__price {
  margin-top: 0.5em;
  font-size: 16px;
  color: rgb(74, 74, 74);
  font-weight: 400;
}

.searchResult__text {
  margin-top: 8em;
  margin-bottom: 2em;
  font-size: 16px;
  color: rgb(74, 74, 74);
  font-weight: 400;
}

.cart__title,
.cart__price,
.itemInCart__quantity {
  justify-self: center;
  align-self: center;
  font-size: 14px;
  color: rgb(74, 74, 74);
  font-weight: 400;
}

.itemInCart__delete,
.cartInfo__delete {
  justify-self: center;
  align-self: center;
  font-size: 14px;
  color: grey;
  font-weight: 400;
}
.itemInCart__delete:hover,
.cartInfo__delete:hover {
  color: rgb(74, 74, 74);
}

.cartInfo {
  font-size: 14px;
  color: rgb(74, 74, 74);
  font-weight: 700;
}

.products__buyBtn {
  width: 100%;
  color: rgb(74, 74, 74);
  font-weight: 700;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 5px;
  background: transparent;
  border: 1px solid black;
  transition: 0.5s ease;
  border-radius: 50px;
  cursor: pointer;
}

.products__buyBtn:hover,
.header__btnCart:hover {
  background-color: antiquewhite;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.products__buyBtn:focus,
.header__btnCart:focus {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  outline: none;
  background-color: rgb(234, 234, 234);
}


.cart {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 70%;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  background-color: #e3e9e6;
  padding: 3em;
  visibility: hidden;
}
.vsbl {
  visibility: visible;
}

.invsbl {
  display: none;
}

.itemInCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}


.header__search{
  position: relative;
  margin-left: 60%;
  display: inline-block;
}

.cart__title,
.cart__price,
.itemInCart__quantity,
.itemInCart__delete {
  margin-top: 0.5em;
}

.cart__item {
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-column-gap: 1%;
  margin-bottom: 1em;
}

.cart__head {
  justify-self: center;
}

input[type="text"]:valid {
  background-color: darkseagreen;
}
input[type="text"]:invalid {
  background-color: darksalmon;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/bebasneue_bold.woff2') format('woff2'),
  url('../fonts/bebasneue_bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular.woff2') format('woff2'),
  url('../fonts/opensans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
}

.container__products {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: beige;
}

header {
  background: whitesmoke;
  margin-bottom: 25px;
  box-shadow: 0px 5px 13px -1px rgba(0, 0, 0, 0.4);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0px;
}

.btn-cart{
  background-color: whitesmoke;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #2f2a2d;
  border-radius: 5px;
  transition: all ease-in-out .4s;
  cursor: pointer;
}

.btn-cart:hover{
  background-color: transparent;
  border-color: #fafafa;
  color: #fafafa;
}

.btn-cart, .logo{
  align-self: center;
}

.cart {
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
}

.div__bg {
  background-color: navajowhite;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.12);
  padding: 10px 0 10px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  justify-content: space-evenly;1
padding: 50px 0;
  /*align-items: center;*/
}

/*.product__item {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/

/*  border: 1px solid #a1a1a1;*/
/*  border-radius: 5px;*/
/*  padding: 30px 30px 0 30px;*/
/*}*/

.product-item {
  border: 1px solid #a1a1a1;
  width: 200px;
  padding: 10px;
  background-color: floralwhite;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}

.product__title {
}

.product__text {
  justify-content: center;
  align-items: center;
  padding: 10px 0 28px 0;
}


.buy-btn {
  margin-top: 10px;
  padding: 5px;
  background: transparent;
  border: 1px solid black;
  color: blue;
  /*transition: all ease-in-out .4s;*/
  transition: 0.5s ease;
  border-radius: 50px;
  cursor: pointer;
}

.buy-btn:hover {
  color: #000000;
  border: 1px solid orange;
}

.item__img {
  width: 100%;
}

.div__title {
  font-family: BebasNeue;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

details{
  display:block;
  margin-bottom: .5rem;
}

.logo{
  text-transform: uppercase;
  font-weight: bold;
}

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
  padding: .3em .5em .3em .4em;
  display:inline-block;
  font-size:1.4em;
  cursor: pointer;
}
summary:before {
  content: "+";
  margin-right: .3em;
}
details[open] > summary:before {
  content: "–";
}
summary ~ * {
  padding:0 1em 0 1em;
}
summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}