html{
    /*растягивание элемента до ширины родителя*/
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    /*наследуем цвет тоже от родителя*/
    color: inherit;
}

ul,
li{
    /*m0+p0*/
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

body{
    /*основной цвет*/
    color: #2f3035;
    /*шрифт без засечек*/
    font-family: sans-serif;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-inner{
    display: flex;
    /*раздвинем парня*/
    justify-content: space-between;
    align-items: center;
    /*высоту указывать не прикольно, может не хватить*/
    min-height: 122px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

.menu__item{
    /*максимально простое решение, плюс добавляем отступы*/
    display: inline-block;
}

.menu__item + .menu__item{
    /*к первому меню применяться не будет*/
    padding-left: 50px;
}

.header__box{
    display: flex;
}

/*Николай Гоголь*/
.header__address{
    margin-right: 60px;
    width: 256px;
    padding-left: 30px;
    position: relative;
}

.header__address::before{
    content: " ";
    position: absolute;
    /*bg i*/
    background-image: url(../images/address-icon.svg);
    /*w30+h30*/
    width: 30px;
    height: 30px;
    /*l0*/
    left: 0;
    top:-10px;
    /*bottom: 0px;*/
}

.user-list{
    /*mr10*/
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user-list__item{
    /*display: inline-block;*/
    /*pr10*/
    padding-right: 10px;
}

.basket{
    position: relative;
}

.basket__num {
    position: absolute;
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 500;
    color: #fff;
    /*fw*/
    font-weight: 500;
    font-size: 10px;
    /*lh*/
    /*line-height: 12px;*/
    line-height: 20px;
    /*h20+w20*/
    height: 20px;
    width: 20px;
    background-color: #1C62CD;
    border-radius: 50%;
    text-align: center;
    /*спозиционируем цифру*/
    bottom: -15px;
    right: -14px;
}

.menu-categories {
    background-color: #F0F0F4;
    display: flex;
    /*justify-content: space-between;*/
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
    /*убрали в menu-categories__link*, сделав через паддинг/*/
    /*p15-0-14*/
}

.menu-categories__item{
    position: relative;
}


.menu-categories__link {
    /*font на body*/
    /*чтобы не смещались position absolute*/
    /*transition: all .5s;*/
    transition: all .2s;
    font-weight: 400;
    /*p15-0-14*/
    padding: 15px 0 14px;
    position: absolute;
    /*исправляем тут*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-categories__link::before {
    content: "";
    width: 0;
    left: auto;
    /*возвращаем полоску назад auto*/
    /*не возвращаем 0*/
    right:0;
    position: absolute;
    background-color: #1C62CD;
    height: 3px;
    bottom: -2px;
    transition: all .7s;
}

.menu-categories__link:hover {
    /*font на body*/
    /*чтобы не смещались position absolute*/
    font-family: 'SFProDisplay-Semibold', sans-serif;
    /*уберём, чтобы не скакало*/
    /*font-weight: 600;*/
    /*font-weight: 400;*/
    color: #1C62CD;
    /*переделать after/before*/
    /*border-bottom: 3px solid #1C62CD;*/
}

.menu-categories__link:hover::before {
    width: 100%;
    right: auto;
    /*bottom: 0;*/
    /*font-weight: 400;*/
    /*устанавливаем начало полоски справа auto*/
    /*устанавливаем начало полоски слева 0*/
    left:0;
}

.header__bottom{
    /*mb78px*/
    margin-bottom: 78px;
}

.header__bottom-inner{

}

.banner-section__inner{
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
   max-width: 870px;
}

/*относительно родителя на 50%*/
/*плюс на половину себя наверх*/
.banner-section__slider--btn{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.banner-section__slider-btnprev{
    left: 20px;
}

.banner-section__slider-btnnext{
    right: 20px;
}

/*.slick-slider {*/
/*    position: relative;*/
/*    display: block;*/
/*    box-sizing: border-box;*/
/*user-select: none;*/
/*}*/


/**/





/*<link rel="preconnect" href="https://fonts.googleapis.com">*/
/*<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*/
/*<link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">*/